:root {
  --alabaster: #e0e2db;
  --cobalt: #3d348b;
  --slate: #717c89;
  --gold: #e6af2e;
  --space: #191716;
}

@font-face {
  font-family: Neon;
  src: url("./assets/neon-future.regular.ttf");
}

.font-space {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: var(--space);
  background-image: url("./assets/images/nasaSatellite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
}

/* Navbar styling */

nav {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  background-color: var(--cobalt);
}

nav h1 {
  margin: 10px;
}

#navList {
  list-style: none;
  position: relative;
  display: flex;
  margin: 10px;
  color: var(--gold);
  flex-direction: row;
}

#navList a {
  font-size: larger;
  color: var(--gold);
  transition: ease-in-out 500ms;
}

#navList a:active {
  color: var(--slate);
}

#navList a:hover {
  color: var(--alabaster);
}

#navList li {
  margin: 10px;
}

/* button styles */

.button {
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 3px solid var(--gold);
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: var(--gold);
}

.button:hover {
  box-shadow: 0 0 10px 0 var(--gold) inset, 0 0 20px 2px var(--gold);
  border: 3px solid var(--gold);
}

.font-neon {
  font-family: Neon;
}

.text-left {
  text-align: start;
}

/* card styling */

.card {
  background: rgba(61, 52, 139, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(61, 52, 139, 0.2);
  padding: 10px;
  margin: 10px;
}

/* loader style */

.progress {
  width: 100px;
  height: 20px;
  background: linear-gradient(#3d348b 0 0) left/0% 100% no-repeat #e0e2db;
  animation: progressLoader 2s infinite linear;
  position: absolute;
  top: 50vh;
  margin-left: 45vw;
  margin-right: 50vw;
}

/* animations */

.glow {
  font-size: 36px;
  color: var(--alabaster);
  text-shadow: 0 0 7px var(--alabaster), 0 0 10px var(--alabaster),
    0 0 21px var(--alabaster), 0 0 42px var(--gold), 0 0 82px var(--gold),
    0 0 92px var(--gold), 0 0 102px var(--gold), 0 0 151px var(--gold);
  animation: pulse 2.5s infinite alternate;
}

@keyframes pulse {
  100% {
    text-shadow: 0 0 4px var(--alabaster), 0 0 11px var(--alabaster),
      0 0 19px var(--alabaster), 0 0 40px var(--gold), 0 0 80px var(--gold),
      0 0 90px var(--gold), 0 0 100px var(--gold), 0 0 150px var(--gold);
  }

  0% {
    text-shadow: 0 0 2px var(--alabaster), 0 0 4px var(--alabaster),
      0 0 6px var(--alabaster), 0 0 10px var(--gold), 0 0 45px var(--gold),
      0 0 55px var(--gold), 0 0 70px var(--gold), 0 0 80px var(--gold);
  }
}

@keyframes progressLoader {
  100% {
    background-size: 100% 100%;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media screen and (prefers-reduced-motion) {
  .glow {
    animation: none;
  }
}