:root {
    --alabaster: #e0e2db;
    --cobalt: #3d348b;
    --slate: #717c89;
    --gold: #e6af2e;
    --space: #191716;
  }

  .modal-body {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .text-header {
    color: var(--gold);
    text-align: start;
    font-size: larger;
  }