:root {
  --alabaster: #e0e2db;
  --cobalt: #3d348b;
  --slate: #717c89;
  --gold: #e6af2e;
  --space: #191716;
}

/* searchbar styling */

#searchBar {
  position: relative;
  padding: 1rem;
  margin: auto;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 1.5rem;
  display: flex;
}

#citySearch {
  grid-area: "form";
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  border-color: var(--slate);
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: var(--alabaster);
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 5px;
  border: 1px solid var(--alabaster);
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#citySearch::placeholder {
  color: var(--alabaster);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#citySearch:hover,
#citySearch:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--alabaster);
  border-radius: 0;
  background-position: 100% center;
}

/* button styling */

#searchBtn {
  margin-left: -10px;
}

#saveBtn {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Control panel styling */

#controlBar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Toggle styling */

#unitToggler {
  position: static;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  text-align: center;
}

#unitToggler p {
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin-left: 5px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--alabaster);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--slate);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--cobalt);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--cobalt);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* weather container styling */

#weatherContainer {
  color: var(--alabaster);
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .3fr 1fr 1fr;
  grid-template-areas:
    "ctemp ctemp ctemp"
    "hourly hourly hourly"
    "fiveDay fiveDay fiveDay";
}

#tempHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  font-size: x-large;
}

#tempHeader h2 {
  margin-top: 40px;
}

#weatherList {
  margin: 10px;
  font-size: large;
}

#weatherList li {
  margin-top: 5px;
}

#cTemp {
  grid-area: ctemp;
}

#fiveDay {
  grid-area: fiveDay;
}

#hourly {
  grid-area: hourly;
}

#forecastContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#hourlyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hourlyCard {
  vertical-align: middle;
  border-bottom: dotted 1px var(--alabaster);
  margin: 5px;
  padding: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100px;
}

.foreCastCard {
  border-bottom: dotted 1px var(--alabaster);
  margin: 5px;
  padding: 5px;
  word-wrap: break-word;
  max-width: 150px;
  overflow-wrap: break-word;
}

/* Media Queries  */

@media only screen and (min-width: 768px) {
  #weatherContainer {
    color: var(--alabaster);
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "ctemp hourly hourly"
      "ctemp hourly hourly"
      "fiveDay fiveDay fiveDay"
      "fiveDay fiveDay fiveDay";
  }
}
